/* TaskList.css */
.task-list {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .task-list h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .task-items {
    list-style: none;
    padding: 0;
  }
  
  .task-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .task-link {
    text-decoration: none;
    color: #333;
    display: block;
  }
  
  .task-heading {
    font-size: 18px;
    font-weight: bold;
  }
  
  .task-description {
    font-size: 14px;
    margin-top: 5px;
  }
  
  .task-date {
    font-size: 12px;
    color: #888;
    margin-top: 5px;
  }

  .btn{
    border: none;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    background-color: rgb(0, 55, 255);
    padding: 10px 30px;
  }
  .btn-delete{
    border: none;
    border-radius: 10px;
    margin-left: 20px;
    background-color: rgb(250, 25, 25);
    padding: 10px 30px;
    font-weight: bold;
    color: white;
  }
  .btn-add{
    border: none;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    background-color: rgb(0, 255, 60);
    padding: 10px 30px;
  }
  